nav{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 10px;
    align-items: center;
    border-bottom: 15px solid blueviolet;
}
 nav >div > a{
    background-color: red;
    color: whitesmoke;
    padding: 8px;
    border-radius:  8px ;
    text-decoration: none;
    transition: 0.3s;
    width: 90px;
    text-align: center;
}
nav > div > a:hover{
    padding: 8px 16px;
    text-decoration: underline;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 60px;
    display: flex;
    justify-content: center;
}
nav > input{
    padding: 15px;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 500px;
}
main{
    margin: 50px 100px;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 10px solid aqua;
    border-right: 5px solid purple;
}
nav > div{
    display: flex;
    justify-content: center;
    gap: 10px;

}

.dropdown{
    background-color: red;
    color: whitesmoke;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;


    > div{
        background-color: aquamarine;
        position: absolute;
        display: none;
        flex-direction: column;
        margin-top: 90px;
        > a {
            text-decoration: none;
            color: whitesmoke;
        }
    }
    
}
.dropdown:hover > div {
    display: flex;  
}