body{
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pai {
    border: 5px solid black;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
}
.pai > div {
    border: 5px solid gray;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    cursor: crosshair;
}
.pai > div:hover {
    border: 5px solid purple;

}



.stitch{
    border: 5px solid ivory;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stitch > div{
    border: 5px solid rgb(169, 9, 243);
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}